<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% end %}</title>
</head>
<body>
    <div id="header">
        {% block header %}{% end %}
    </div>
    
    <div id="content">
        {% block content %}{% end %}
    </div>
    
    <div id="footer">
        {% block footer %}{% end %}
    </div>
</body>
</html>
