
{% extends base.html %}

{% block header %}
    <h1>Confirmation</h1>
{% end %}

{% block content %}
    <h3>Thank you! Your registration has been received</h3>
    
    <a href="/">To front page</a>
{% end %}

{% block footer %}
{% end %}
