
{% extends base.html %}

{% block header %}
    <h1>Participants</h1>
{% end %}

{% block content %}
    <p>
        People signed up so far
    </p>
    <ul>
        <h5>Qualifying participants (three at maximum are accepted)</h5>
        {% for signup in sign_ups[:3] %}
            <li><a href="/signup/{{ signup.id }}">{{ escape( signup.name ) }}</a>, registered at {{ signup.date }}</li>
        {% end %}
    </ul>
    <ul>
        <h5>Participants in the queue</h5>
        {% for signup in sign_ups[3:] %}
            <li><a href="/signup/{{ signup.id }}">{{ signup.name }}</a>, registered at {{ signup.date }}</li>
        {% end %}
    </ul>
{% end %}

{% block footer %}
    <h1><a href="/signup">Signup</a></h1>
{% end %}
