
{% extends base.html %}

{% block title %}
    View or edit profile
{% end %}

{% block header %}
    <h1>Profile</h1>
{% end %}

{% block content %}
    {% if not logged_in %}
        <p><strong>
            Log in to edit your information
        </strong></p>
        <form method="post" action="{{ request.path }}">
            <input type="text" placeholder="name" name="name" />
            <input type="text" placeholder="address" name="address" />
            <input type="hidden" name="action" value="log_in" />
            <input type="submit" value="Log in" />
        </form>
    {% end %}
    <h3>{{ sign_up.name }}</h3>
    
    <p>
        {{ sign_up.profile }}
    </p>
    
    {% if sign_up.id == logged_in_user_id %}
        <h3>Edit your profile</h3>
        
        <form id="update_form" method="post" action="{{ request.path }}">
            <div>
                <label for="update__name">Name</label>
                <input id="update__name" type="text" placeholder="name" name="name" value="{{ sign_up.name }}" />
            </div>
            <div>
                <label for="update__address">Address</label>
                <input id="update__address" type="text" placeholder="address" name="address" value="{{ sign_up.address }}" />                
            </div>

            <div>
                <label for="update__profile">Profile</label>
                <input id="update__profile" type="text" placeholder="profile" name="profile" value="{{ sign_up.profile }}" />
            </div>
            
            <input type="hidden" name="date" value="{{ sign_up.date }}" />
            <input type="hidden" name="action" value="update" />
            <input type="submit" value="Save" />
        </form>
        
        <form id="delete_form" method="post" action="{{ request.path }}">
            <input type="hidden" name="action" value="delete" />
            <input type="submit" value="Delete" />
        </form>
    {% end %}
{% end %}

{% block footer %}
{% end %}