
{% extends base.html %}

{% block header %}
    <h1>Signup</h1>
{% end %}

{% block content %}
    <p>
        Give information to sign up
    </p>
    <form method="POST"  action="{{ request.path }}">
        <div><input type="text" name="name" placeholder="name" /></div>
        <div><input type="text" name="address" placeholder="address" /></div>
        <div><textarea name="profile" placeholder="profile text"></textarea></div>
        
        {# module xsrf_form_html() #}
        <input type="submit" value="Sign up" />
    </form>
{% end %}

{% block footer %}
{% end %}
